

/* OVERWRITE QUALTRICS DEFAULTS 

	.Skin .QuestionText {
		font-size: 100%;
		padding: 2px;
	}
	
	.Skin .QuestionBody {
		padding:0px 1px 0px 1px;
	}

	.Skin #ProgressBar{
		position: fixed;
		bottom:10px;
		right:10px;
		left:10px;
	}

	*/
	
/* STYLES USED ACROSS SURVEY (or could be, potentially) */
	
body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}	

/* If the max-width property is set to 100%, the image will scale down if it has to, but never scale up to be larger than its original size */
#ImgScaleWidth {
  width: auto; 
  max-height: 100%;
}



/* CHOOSE SURVEY */
  #QID182 {
    display: none;
  }
/* Splash_Title */
  #SplashTitleText {
    font-size:8vh;
    color:#66cc66;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-variant:small-caps;
    text-shadow:3px 3px 2px #575757;
    line-height:1.3;
    text-align: center;
  }

  #SplashWelcomeLeagueLogoDiv {
    /* This "background" image is the league logo on the welcome page */
    /*max-width: 90vh;*/
    min-height: 15vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    margin: 25px 0;			
  }
  
  #SplashWelcomeText {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  #SplashErrorSelectLeague {
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: red;
  }
      
  #SplashChangeLeagueBtn {
    /*font-size: 0.7em;
    background-color: rgba(255, 255, 255, 0.01);
    border: none;
    color: blue;
    font-style: italic;
    padding: 5px 5px;
    text-align: center;*/
    color: #53555f;
    background-color: transparent;
    font-size: 16px;
    padding: 8px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: solid 1px;
  }

  #SplashChangeLeagueBtn:hover {
    color: #fff;
    background-color: #53555f;
    border-color: #53555f;
  }
  
  #SplashMyNextButtonDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 80px;
    /*max-width: 90vh;*/
  }
  
  #SplashMyNextButton {
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #53555f;
    display: block;
    cursor: pointer;
    border: solid 1px #53555f;
  }

  #SplashMyNextButton:hover {
    color: #53555f;
    background-color: transparent;
  }
  
  #SplashDisclaimer {
    text-align: center;
    font-size: 0.6em;
    line-height: 1.0;
    font-weight: normal;
  }		
  
  

/* INFORMED CONSENT */

  #infconsentTLDR {
    font-weight:normal;
  }
  #infconsentTLDR p {
    margin-top:3px;
    margin-bottom:0px;
  }
  
  #InformedConsentTitle {
    font-size:1.5em;
    color:#66cc66;
    font-variant:small-caps;
    line-height:1.3;
  }

  /* This class is used for the start of each of the TLDR entries */
  .TLDRQues {
    font-weight:bold;
  }
    
  /* This formats the Informed Consent DIV, but also serves as a base for the formatting below (H1, H2, etc.) */
  .InformedConsentFullText {
    font-weight:normal;
    line-height:1.1;
    font-size:0.9em;
  }
    /* Informed consent full text title */
    .InformedConsentFullText h1 {
      text-transform:uppercase; 
      font-weight:bold;
      font-size:1em;
      margin-bottom:10pt;
    }
    /* Informed consent section headings */
    .InformedConsentFullText h2 {
      font-weight:bold;
      font-size:1em;
      margin-bottom:0;
    }	
    /* Informed consent paragraphs */
    .InformedConsentFullText p {
      margin-top:0;
      margin-bottom:10pt;
    }
    
    /* If the user only reads one part of the informed consent, it should be this */
    .InformedConsentImportantPart {
      background-color: #FFFF00;
    }
      
    .InformedConsentResearchers {
      padding-left:15px;
      text-indent:-15px; /* create a hanging indent for the researchers' affiliations */
    }
    .InformedConsentResearchers p {
      margin-top:0;
      margin-bottom:0;
    }
    
    
/* SELECT FAVORITE TEAM */

/*-- FILTERS -----------------*/

  #DivFiltersLevel1Header, #DivFiltersLevel2Header, #DivFiltersLevel3Header, #DivFavTeamList{
    clear: both;
  }

  .ClassFilter{
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
    margin-left:7px;
    margin-top:7px;
    float: left;
  }

  .ClassFilterLevel1 {
    background-color: #636363;
    color: white;
    padding: 6px 15px;
    font-size: 14px;
  }
  .ClassFilterLevel1:hover {
    background-color: #343434;
  }
  .ClassFilterLevel2 {
    background-color: #335566;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
  }
  .ClassFilterLevel2:hover {
    background-color: #222255;
  }
  .ClassFilterLevel3 {
    background-color: #881188;
    color: white;
    padding: 3px 8px;
    font-size: 10px;
  }
  .ClassFilterLevel3:hover {
    background-color: #552211;
  }
  
  #DivFilterReset{
    border-style: solid;
    border-width: 1px;
    max-width: 200px;
    border-radius: 12px;
    text-align: center;
    font-size: 11px;
    font-style: italic;
    background-color: #506688;
    cursor: pointer;
    color: white;
  }
/*-- FILTERS -----------------*/

#DivFavTeamList{
}
.ClassFavTeam:hover{
  background-image: none !important;
  font-size: 13px;
}

.ClassFavTeam {
  border-style: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  text-align: center;
  margin: 7px 7px;
  font-size: 0px;
  line-height: 1.2;
  width: 100px;
  height: 50px;
  vertical-align: bottom;
  float: left;
  cursor: pointer;
}

#DivFavTeamLogo{
  width:200px;
  height:200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

/*-- TEAM RIVALS ------------*/
#QID164 .c4 {
  padding: 10px;
}

#QID164 input[type="range"] {
  width: 100%;
}

#QID164 input[type="range"]::-webkit-slider-runnable-track {
  background: -moz-linear-gradient(left, #fffa00 0%, #ff0000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fffa00 0%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fffa00 0%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffa00', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
}

#QID164 input[type="range"]::-moz-range-track {

}
#QID164 input[type="range"]::-ms-track {

}

#QID164 .CSTotalInput {
  color: red;
}

#QID164 .CSTotalInput.valid-point-total {
  color: green;
}

#QID164 .rivalry-points-error {
  color: red;
  text-align: center;
}

#QID164 .ChoiceRow .LabelWrapper label > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}