
/*
######################
TESTING
######################
Styles in here are only for testing. They are not ever used in production.
*/
/* Styles to mimic the actual survey */
@media (min-width: 770px) {
    body {
        width: 770px;
        max-width: 95%;
        margin-left: 50px; margin-right: auto;
    }
}
body#SurveyEngineBody{
    margin: 0 auto;
    line-height: normal;
}
#SurveyInTestMode{
    background-color: #aa0000;
    color: #fff;
}
/* This is is the DIV with the radio buttons to select each survey  */
#TESTMODE_MIMIC_QID182{
    display: none;
}

/*
######################
TESTING
######################
Should these be part of production? Perhaps on specific pages (e.g., Favorite Team)
*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.QuestionBody {
    backface-visibility: hidden; /* Fixes hidden content bug with jQuery toggle */
}
fieldset {
    border: none;
}
.Skin .ChoiceGroupStructure {
    margin-left: 10px;
    padding: 0;
}


/*
######################
STYLES USED ACROSS SURVEY
(or could be, potentially)
######################
*/

body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body p {
    margin-bottom: 8px;
}

/*
######################
SELECT RIVALS PAGE
######################
*/
    #QID164 .c4 {
        padding: 10px;
    }

    #QID164 input[type="range"] {
        width: 100%;
    }
    
    #QID164 input[type="range"]::-webkit-slider-runnable-track {
    background: -moz-linear-gradient(left, #fffa00 0%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fffa00 0%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fffa00 0%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffa00', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
    }

    #QID164 input[type="range"]::-moz-range-track {

    }
    #QID164 input[type="range"]::-ms-track {

    }

    #QID164 .CSTotalInput {
    color: red;
    }

    #QID164 .CSTotalInput.valid-point-total {
    color: green;
    }

    #QID164 .rivalry-points-error {
    color: red;
    text-align: center;
    }

    #QID164 .ChoiceRow .LabelWrapper label > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }


/*
######################
FAVORITE TEAM PAGE
######################
*/

.ClassFavTeam:hover{
    background-image: none !important;
    font-size: 14px;

}
  
    .ClassFavTeam {
        border-style: none;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        background-size: contain;
        text-align: center;
        margin: 7px 7px;
        font-size: 0px;
        line-height: 1.2;
        width: 100px;
        height: 50px;
        vertical-align: bottom;
        float: left;
        cursor: pointer;
    }
    
      

    #selected-team {
        display: none;
    }
    
    #selected-team-logo{
        width:200px;
        height:200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
/*
######################
WELCOME PAGE
(a/k/a, "landing page" or "splash page")
######################
*/
    /* DEFAULT: Hide the league selector question to start */
    #QID182 {
        display: none;
    }

    /* This is the title heading on the landing page. E.g., "Rivalry Research" */
    #SplashTitleText {
        font-size:8vh;
        font-family:'Trebuchet MS', Helvetica, sans-serif;
        font-variant:small-caps;
        line-height:1.3;
        text-align: center;
        color: #fff;
        text-shadow: #000000 0px 0px 4px;
        -webkit-font-smoothing: antialiased;
    }

    /* This is the error box for league selection if necessary... which we hope is never*/
    #SplashErrorSelectLeague {
        margin: auto;
        text-align: center;
        font-weight: bold;
        color: red;
    }

    /* This "background" image is the league logo at the top of the welcome page */
    #SplashWelcomeLeagueLogoDiv {
        /* max-width: 90vh; */
        min-height: 15vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; 
        margin: 25px 0;			
    }

    /* This is the text that sits just below the league logo */
    #SplashWelcomeText {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }
    
    /* This is the button that, if visible, allows the user to change the league  */
    #SplashChangeLeagueBtn {
        color: #53555f;
        background-color: transparent;
        font-size: 16px;
        padding: 8px 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        border: solid 1px;
    }
        #SplashChangeLeagueBtn:hover {
            color: #fff;
            background-color: #53555f;
            border-color: #53555f;
        }
    
    /* This is the custom next button I created to use instead of the Qualtrics default  */
    #SplashMyNextButtonDiv {
        display: -webkit-box;
        display: -ms-flexbox;
        -ms-flex-pack: distribute;
        display: flex;
        justify-content: space-around;
        margin-bottom: 80px;
        /*max-width: 90vh;*/
    }
        #SplashMyNextButton {
            border: none;
            color: #fff;
            font-size: 16px;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            background-color: #53555f;
            display: block;
            cursor: pointer;
            border: solid 1px #53555f;
        }
        
        #SplashMyNextButton:hover {
            color: #53555f;
            background-color: transparent;
        }

    /* Footer text declaring our lack of funding from the leagues */
    #SplashDisclaimer {
        text-align: center;
        font-size: 0.6em;
        line-height: 1.0;
        font-weight: normal;
        }

/*
######################
INFORMED CONSENT
######################
Put `KR_InformedConsent` in the outer div for anything Informed Consent related
*/

.KR_InformedConsent{
    font-weight:normal;
    line-height:1.1;
    margin-bottom: 50px ;
}

    /* This class is used for the text at start of each of the TLDR entries */
    .KR_InformedConsent .TLDRQues {
        font-weight:bold;
    }

    /* This formats the full text DIV, but also serves as a base for the formatting below (H1, H2, etc.) */
    .KR_InformedConsent .FullText {
        font-size:0.9em;
    }
        /* Informed consent full text title */
        .KR_InformedConsent .FullText h1 {
        text-transform:uppercase; 
        font-weight:bold;
        font-size:1em;
        margin-bottom:10pt;
        }
        /* Informed consent section headings */
        .KR_InformedConsent .FullText h2 {
        font-weight:bold;
        font-size:1em;
        margin-bottom:0;
        }	
        /* Informed consent paragraphs */
        .KR_InformedConsent .FullText p {
        margin-top:0;
        margin-bottom:10pt;
        }
        
        /* If the user only reads one part of the informed consent, it should be this */
        .KR_InformedConsent .ImportantPart {
        background-color: #FFFF00;
        }
        
    .KR_InformedConsent .ResearchersSignOff {
        padding-left:15px;
        text-indent:-15px; /* create a hanging indent for the researchers' affiliations */
        }
        .KR_InformedConsent .ResearchersSignOff p {
        margin-top:2px;
        margin-bottom:4px;
        }
        